---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Promise">
    <main>
        <div class="container"></div>
    </main>
</Layout>

<style is:global>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<script is:inline>

    function createImage(imgUrl) {
        return new Promise((resolve, reject) => {
            const img = new Image();
            img.src = imgUrl;
            img.onload = () => {
                // console.log('图片加载成功');
                resolve(img);
            };
            img.onerror = () => reject(new Error('图片加载失败'));
        })
    }

    createImage('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wqHk?ver=3198')
</script>
<script src="./ps.js"></script>
