---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Promise">
    <main>
        <div class="container"></div>
    </main>
</Layout>

<style is:global>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>

<script src="./my-promise.js"></script>
<script is:inline>
    function delay(duration) {
        return new Promise((resolve) => {
            setTimeout(resolve, duration);
        });
    }

    delay(1000).then(() => {
        console.log('1秒钟过去了');
    });
    function sendMessage(name) {
        return new Promise((resolve, reject) => {
            console.log(`邓哥 -> ${name}: 我喜欢你`);
            console.log(`等待${name}回复。。。。。`);
            setTimeout(() => {
                if (Math.random() > 0.5) {
                    resolve(`${name} -> 邓哥：我也喜欢你!!!!!!!!!!!!!!!!!!!!!!!!!`);
                } else {
                    reject(`${name} -> 邓哥：你是个好人`);
                }
            }, 1000);
        });
    }

/*     sendMessage('李建国')
        .catch((reply) => {
            console.log(reply);
            return sendMessage('周聚餐');
        })
        .catch((reply) => {
            console.log(reply);
            return sendMessage('王富贵');
        })
        .catch((reply) => {
            console.log(reply);
            return sendMessage('张三');
        })
        .then(
            (reply) => {
                console.log(reply);
                console.log('邓哥找到了伴侣');
            },
            (reply) => {
                console.log(reply);
                console.log('邓哥孤独终老');
            }
        ); */
</script>
