
@function vw($px, $design-width: 1920) {
    @return calc($px / $design-width) * 100vw;
}
// 文字溢出隐藏显示...
@mixin text-ellipsis($line: 1) {
    @if $line==1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }
}

@mixin disabled($grey: false) {
    pointer-events: none;
    user-select: none;
    @if ($grey == true) {
        filter: grayscale(1);
    }
}

@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@mixin border-radius($param: vw(10)) {
    overflow: hidden;
    border-radius: $param;
    transform: rotate(0deg);
}

@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    @content;
}

$breakpoints: (
    "phone": '(max-width: 779px), (max-aspect-ratio: 1/1) and (max-width: 1200px)',
    "tablet": '(min-width: 640px) and (max-width: 1200px) and (max-aspect-ratio: 1/1)',
    "desktop": '(min-width: 1024px)'
);

@mixin responsiveTo($breakname) {
    $bp: map-get($breakpoints, $breakname);
    @media screen and #{$bp} {
        @content;
    }
}

.foo {
    @include responsiveTo("phone") {
        background: red !important;
    }
}


@function vw($px) {
    @return calc($px/1920) * 100vw;
}

@function vwm($px) {
    @return calc($px/750) * 100vw;
}