---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <main>
        <div id="container">
            <div class="grid">
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0100.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W3077-1.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2459.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2382.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1124.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1004.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1591.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0830.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0923.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0302.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1866.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/HZ2A0273.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0109.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1605.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1742.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2630.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W2920.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W3013.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0787.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2335.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A1648.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/HZ2A8854.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0083.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A1973.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
            </div>
        </div>
    </main>
</Layout>

<style is:global>
    #container {
        margin: 0 auto;
        max-width: 922px;
        padding: 80px 0 150px;
    }
    .grid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 9px;
        justify-content: space-between;
    }

    .grid-item {
        height: 0;
        overflow: hidden;
    }

    .grid-item img {
        width: 100%;
        display: block;
        background-color: #f5f8fa;
    }
</style>

<script type="module">
    class ImgLoader {
        constructor(rHeight, rHeightTolerance) {
            this.doms = {
                container: document.getElementById('container'),
                grid: document.querySelector('.grid'),
            };
            const gap = window.getComputedStyle(this.doms.grid).rowGap;

            this.gapValue = parseFloat(gap);
            this.itemArray = Array.from(this.doms.grid.querySelectorAll('.grid-item'));

            this.rowHeight = rHeight || 320;
            this.rowHeightTolerance = rHeightTolerance || 0.25;

            this.tempArray = [];
            this.sumRatio = 0;

            this.ratioArray = [];
            this.rowArray = [];
        }
        getMaxAspectRatio() {
            const result = (this.doms.container.clientWidth / this.rowHeight) * (1 + this.rowHeightTolerance);
            return result;
        }
        setItem(item, img) {
            const width = img.naturalWidth;
            const height = img.naturalHeight;
            item.dataset.ratio = width / height;
            return item;
        }
        setRatio(img) {
            const width = img.naturalWidth;
            const height = img.naturalHeight;
            const ratio = width / height;
            return ratio;
        }
        setImage(item) {
            return new Promise((resolve) => {
                const img = item.querySelector('img');
                if (img.complete) {
                    if (img.naturalWidth === 0) {
                        item.remove();
                        resolve(null);
                    } else {
                        resolve(item);
                    }

                } else {
                    img.addEventListener('load', () => {
                        var newItem = this.setItem(item, img);
                        resolve(newItem);
                    });
                    img.addEventListener('error', () => {
                        item.remove();
                        resolve(null);
                    });
                }
            });
        }
        newItemList() {
            this.doms.grid.querySelectorAll('.grid-item').forEach((item) => {
                const empty = item.classList.contains('grid-item-empty');
                if (empty) {
                    item.remove();
                }
            });
            const promises = this.itemArray.map(async (item) => {
                let result = await this.setImage(item);
                return result;
            });
            return Promise.all(promises);
        }
        createRow(row) {
            if (row) {
                this.tempArray.push(row);
            }
            if (this.sumRatio > this.getMaxAspectRatio()) {
                this.ratioArray.push(this.sumRatio);
                this.rowArray.push(this.tempArray);
                this.sumRatio = 0;
                this.tempArray = [];
            }
        }
        lastRow() {
            while (this.sumRatio < this.getMaxAspectRatio()) {
                const div = document.createElement('div');
                div.className = 'grid-item grid-item-empty';
                div.dataset.ratio = 1.5;
                this.doms.grid.appendChild(div);
                this.tempArray.push(div);
                this.sumRatio += 1.5;
            }
            this.ratioArray.push(this.sumRatio);
            this.rowArray.push(this.tempArray);
        }
        renderRow() {
            this.rowArray.forEach((rowItems, index) => {
                const heightArray = [];
                const adjustedContainerWidth = this.doms.container.clientWidth - (rowItems.length - 1) * this.gapValue;
                const ratioItem = this.ratioArray[index] > this.getMaxAspectRatio() ? this.ratioArray[index] : this.getMaxAspectRatio();
                const widthRatio = adjustedContainerWidth / ratioItem;

                rowItems.forEach((item) => {
                    item.style.height = '';
                    const width = (widthRatio * +item.dataset.ratio).toFixed(0) + 'px';
                    item.style.width = width;
                    const img = item.querySelector('img');
                    const height = img ? img.offsetHeight : window.innerHeight;
                    heightArray.push(height);
                });

                const minHeight = Math.min(...heightArray);
                rowItems.forEach((elem) => {
                    elem.style.height = minHeight.toFixed(0) + 'px';
                });
            });
        }
        load() {
            this.newItemList().then((items) => {
                items.forEach((item) => {
                    if (item) {
                        this.sumRatio += +item.dataset.ratio;
                        this.createRow(item);
                    }
                });
                if (this.tempArray.length > 0) {
                    this.lastRow();
                }
                this.tempArray = [];
                this.sumRatio = 0;
                this.renderRow();

                this.ratioArray = [];
                this.rowArray = [];
            });
        }
    }

    const imgLoader = new ImgLoader();
    // const init = imgLoader.load();

    document.addEventListener('DOMContentLoaded', function () {
        imgLoader.load();
    });

    window.addEventListener('resize', function () {
        imgLoader.load();
    });
</script>
