---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <main>
        <div id="container">
            <div class="grid">
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/5a2926df15a72b5db4b64a262a3fdca37b67b5c5.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/9dd53e614ca27e4861cdadb28cc28589b7fbd95a.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/2820b7ccd8cc33cf721cc71173963e7c91da9e68.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/8462d92a3e4229b2a64f486f3f625b4561268823.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/09c69d8f31ca72526211425fd15323ac75fbb9f7.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/8a58b4e7b7c785dcfefb3774a66504fa3f48b1fc.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/51638449119f5a577e53b9bbba5afec60a9cfa59.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/429f2167c6a5c50a2723f1c9bfc9a5c73f9fd3c0.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/99408c5922144d97b087f222de50d7d912ee5c61.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/4ea3fd2ab5355e6234a8431e733f9041517a4783.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b1073fe3d190c627672bab66534e2b111a28a9de.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/d66715d84d41fd3a6f217054f30698a3e64e9788.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/9dd53e614ca27e4861cdadb28cc28589b7fbd95a.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/115893318605a3364f8c55352375f4a7f3bd6ea0.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/058f800eb82ae0555fa950500917b08491c8a5d6.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/de5a2e495032357d88a61bff0936a13b8b24b679.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/8e467909cd76ae7a6c841a34637d89d5c6081b27.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/76710f4f84fba1f5bd0cce9a7f7f9b1894478b66.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/c6b624b9b1608a55b936f9e6c6b26313ac553ae1.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/99408c5922144d97b087f222de50d7d912ee5c61.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/115893318605a3364f8c55352375f4a7f3bd6ea0.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/058f800eb82ae0555fa950500917b08491c8a5d6.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style is:global>
    #container {
        margin: 0 auto;
        max-width: 900px;
        padding: 150px 0;
    }
    .grid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        /* gap: 10px; */
        row-gap: 0.3vw;
        justify-content: space-between;
    }

    .grid-item {
        height: 0;
        overflow: hidden;
    }

    .pic {
        box-shadow: 0 0 5px #ccc;
    }

    .pic img {
        width: 100%;
        display: block;
        background-color: #f5f8fa;
    }
</style>

<script>
    /**
     * @param {string} grid
     * @param {string} item
     * @param {number} rHeight
     * @param {number} rHeightTolerance
     */
    function justifiedLayout(grid, item, rHeight, rHeightTolerance) {
        const container = document.getElementById('container');
        const containerWidth = container.clientWidth;
        const $grid = document.querySelector(grid);
        const $items = Array.from(document.querySelectorAll(item));
        const $gap = window.getComputedStyle($grid).rowGap;

        const gapValue = parseFloat($gap);

        const rowHeight = rHeight || 320;
        const rowHeightTolerance = rHeightTolerance || 0.25;
        const maxAspectRatio = (containerWidth / rowHeight) * (1 + rowHeightTolerance);

        const updateItems = $items.filter((item) => {
            const result = item.classList.contains('grid-item-empty');
            if (result) {
                item.remove();
            }
            return !result;
        });

        updateItems.forEach((item) => {
            const img = item.querySelector('img');
            const ratio = img ? img.naturalWidth / img.naturalHeight : 1.5;
            item.style.setProperty('--ratio', ratio);
        });
        let sumRatio = 0;
        let tempArray = [];
        const ratioArray = [];
        const rowArray = [];
        updateItems.forEach((item) => {
            let ratio = +item.style.getPropertyValue('--ratio');
            sumRatio += ratio;
            tempArray.push(item);

            if (sumRatio > maxAspectRatio) {
                ratioArray.push(sumRatio);
                rowArray.push(tempArray);
                sumRatio = 0;
                tempArray = [];
            }
        });

        if (tempArray.length > 0) {
            while (sumRatio < maxAspectRatio) {
                const div = document.createElement('div');
                div.className = 'grid-item grid-item-empty';
                div.style.setProperty('--ratio', '1.5');
                $grid.appendChild(div);
                tempArray.push(div);
                sumRatio += 1.5;
            }
            ratioArray.push(sumRatio);
            rowArray.push(tempArray);
        }

        rowArray.forEach((row, index) => {
            const heightArray = [];
            const adjustedContainerWidth = containerWidth - (row.length - 1) * gapValue;
            const ratioItem = ratioArray[index] > maxAspectRatio ? ratioArray[index] : maxAspectRatio;
            const widthRatio = adjustedContainerWidth / ratioItem;
            row.forEach((item) => {
                item.style.height = '';
                const width = (widthRatio * +item.style.getPropertyValue('--ratio')).toFixed(0) + 'px';
                item.style.width = width;
                const img = item.querySelector('img');
                const height = img ? img.offsetHeight : window.innerHeight;
                heightArray.push(height);
            });
            const minHeight = Math.min(...heightArray);
            row.forEach((item) => {
                item.style.height = minHeight.toFixed(0) + 'px';
            });
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        justifiedLayout('.grid', '.grid-item', 320, 0.45);
    });

    window.addEventListener('resize', function () {
        justifiedLayout('.grid', '.grid-item', 320, 0.25);
    });
</script>
