---
import Layout from '../layouts/jgLayout.astro';
---

<Layout title="V4 Photo Justified Layout">
    <main>
        <div id="container">
            <div class="grid">
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0100.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0100.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W3077.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W3077.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2459.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2459.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2382.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2382.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1124.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1124.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1004.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1004.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1591.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1591.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0830.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0830.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0923.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0923.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0302.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0302.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1866.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1866.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/HZ2A0273.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/HZ2A0273.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0109.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0109.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1605.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1605.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1742.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1742.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2630.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2630.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W2920.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W2920.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W3013.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W3013.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0787.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0787.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2335.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2335.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A1648.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A1648.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/HZ2A8854.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/HZ2A8854.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0083.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0083.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
                <a class="grid-item" href="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A1973.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A1973.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </a>
            </div>
        </div>
    </main>
</Layout>

<style is:global>
    #container {
        margin: 0 auto;
        max-width: 922px;
        padding: 80px 0 150px;
    }
    /* .grid {
        position: relative;
    }

    .grid-item {
        width: 33%;
        overflow: hidden;
    }

    .grid-item img {
        width: 100%;
        display: block;
        background-color: #f5f8fa;
    } */
</style>

<script is:inline src="/js/jquery.min.js"></script>
<script is:inline src="/js/jquery.justifiedGallery.min.js"></script>
<script type="module">
    // $('.grid').justifiedGallery();
    $('.grid')
        .justifiedGallery({
            rowHeight: 200,
            maxRowHeight: 190,
            border: 0,
            margins: 9,
        })
        .on('jg.complete', function () {
            console.log(1);
        });
</script>
