---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <main>
        <div id="container">
            <div class="grid">
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/5a2926df15a72b5db4b64a262a3fdca37b67b5c5.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/9dd53e614ca27e4861cdadb28cc28589b7fbd95a.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b58cda8cbf922faab29e9ce380e5894d84630eae.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/2820b7ccd8cc33cf721cc71173963e7c91da9e68.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/8462d92a3e4229b2a64f486f3f625b4561268823.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/09c69d8f31ca72526211425fd15323ac75fbb9f7.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/8a58b4e7b7c785dcfefb3774a66504fa3f48b1fc.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/51638449119f5a577e53b9bbba5afec60a9cfa59.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/429f2167c6a5c50a2723f1c9bfc9a5c73f9fd3c0.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/99408c5922144d97b087f222de50d7d912ee5c61.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/4ea3fd2ab5355e6234a8431e733f9041517a4783.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/b1073fe3d190c627672bab66534e2b111a28a9de.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/d66715d84d41fd3a6f217054f30698a3e64e9788.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/9dd53e614ca27e4861cdadb28cc28589b7fbd95a.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/115893318605a3364f8c55352375f4a7f3bd6ea0.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/058f800eb82ae0555fa950500917b08491c8a5d6.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/de5a2e495032357d88a61bff0936a13b8b24b679.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/8e467909cd76ae7a6c841a34637d89d5c6081b27.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/76710f4f84fba1f5bd0cce9a7f7f9b1894478b66.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/c6b624b9b1608a55b936f9e6c6b26313ac553ae1.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/99408c5922144d97b087f222de50d7d912ee5c61.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/115893318605a3364f8c55352375f4a7f3bd6ea0.jpeg" />
                    </div>
                </div>
                <div class="grid-item">
                    <div class="pic">
                        <img src="http://res.jisuanke.com/img/upload/20160314/058f800eb82ae0555fa950500917b08491c8a5d6.jpeg" />
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    #container {
        margin: 0 auto;
        max-width: 900px;
        padding: 150px 0;
    }
    .grid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        /* gap: 10px; */
        row-gap: 1vw;
        justify-content: space-between;
    }

    .grid-item {
        height: 0;
        overflow: hidden;
    }

    .pic {
        box-shadow: 0 0 5px #ccc;
    }

    .pic img {
        width: 100%;
        display: block;
        background-color: #f5f8fa;
    }
</style>

<script>
    function waterfall(grid, item, column) {
        const container = document.getElementById('container');
        const containerWidth = container.clientWidth;
        const $grid = document.querySelector(grid);
        const $item = Array.from(document.querySelectorAll(item));
        const $gap = window.getComputedStyle($grid).rowGap;

        const gapValue = parseFloat($gap);
        const adjustedContainerWidth = containerWidth - (column - 1) * gapValue;

        if ($item.length % column !== 0) {
            const additionalItemsNeeded = column - ($item.length % column);
            for (let n = 0; n < additionalItemsNeeded; n++) {
                const div = document.createElement('div');
                div.className = 'grid-item';
                $grid.appendChild(div);
            }
        }

        const updatedItems = Array.from(document.querySelectorAll(item));

        for (let i = 0; i < updatedItems.length; i += column) {
            const hightArray = [];
            let sumRatio = 0;
            for (let j = i; j < i + column && j < updatedItems.length; j++) {
                const img = updatedItems[j].querySelector('img');
                const ratio = img ? img.naturalWidth / img.naturalHeight : 1.5;
                updatedItems[j].style.setProperty('--ratio', ratio);
                sumRatio += +updatedItems[j].style.getPropertyValue('--ratio');
            }

            const widthRatio = adjustedContainerWidth / sumRatio;
            for (let k = i; k < i + column && k < updatedItems.length; k++) {
                updatedItems[k].style.height = '';
                const width = (widthRatio * +updatedItems[k].style.getPropertyValue('--ratio')).toFixed(0) + 'px';
                updatedItems[k].style.width = width;
                const img = updatedItems[k].querySelector('img');
                const height = img ? img.offsetHeight : 1000;
                hightArray.push(height);
            }

            const minHeight = Math.min(...hightArray);
            for (let l = i; l < i + column && l < updatedItems.length; l++) {
                updatedItems[l].style.height = minHeight.toFixed(0) + 'px';
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        waterfall('.grid', '.grid-item', 3);
    });

    window.addEventListener('resize', function () {
        waterfall('.grid', '.grid-item', 3);
    });
</script>
