---
import SellLayout from '../layouts/sellLayout.astro';
---

<SellLayout title="购物车效果">
    <main>
        <div id="goods">
            <div class="menu-wrapper">
                <ul>
                    <li class="menu-item current">
                        <span class="text border-1px">
                            <span class="icon"></span>
                            热销榜
                        </span>
                    </li>
                    <li class="menu-item">
                        <span class="text border-1px">
                            <span class="icon special"></span>
                            单人精彩套餐
                        </span>
                    </li>
                    <li class="menu-item">
                        <span class="text border-1px">
                            <span class="icon discount"></span>
                            冰爽饮品限时特惠
                        </span>
                    </li>
                </ul>
            </div>
            <div class="foods-wrapper">
                <ul>
                    <li class="food-list food-list-hook">
                        <h2 class="title">热销榜</h2>
                        <ul></ul>
                    </li>
                </ul>
            </div>
            <div class="shop-cart-group">
                <div class="shop-cart">
                    <div class="content">
                        <div class="content-left">
                            <div class="logo-wrapper">
                                <div class="logo">
                                    <span class="icon-shopping_cart"></span>
                                </div>
                                <div class="num">0</div>
                            </div>
                            <div class="price">$ 0 元</div>
                            <div class="desc">另需配送费$ 4 元</div>
                        </div>
                        <div class="content-right"><div class="pay">$20元起送</div></div>
                    </div>
                    <div class="ball-container"></div>
                </div>
            </div>
        </div>
    </main>
</SellLayout>

<style is:global>
    .food-item .cart-decrease,
    .food-item .cart-count {
        display: none;
    }
    .food-item.active .cart-decrease,
    .food-item.active .cart-count {
        display: inline-block;
    }
    .shop-cart .logo.animate {
        animation: footer-car-ani 0.5s ease-in-out;
    }

    @keyframes footer-car-ani {
        0% {
            transform: scale(1);
        }
        25% {
            transform: scale(0.8);
        }
        50% {
            transform: scale(1.1);
        }
        75% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }
    .shop-cart-group .shop-cart .ball-container .ball {
        position: fixed;
        left: 10px;
        top: 10px;
        z-index: 200;
        transition: transform 0.5s linear;
    }
    .shop-cart-group .shop-cart .ball-container .ball .inner {
        transition: all 0.4s cubic-bezier(0.5, -0.5, 1, 0.99);
    }
</style>

<script is:inline src="../js/data.js"></script>
<script is:inline src="../js/sell.js"></script>
